<%= form_for @note, :html => { :class => "form-horizontal note" } do |f| %>

    <% if @note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :body, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:body]) %>
  </div>
  <div class="control-group">
    <%= f.label :done, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :done, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:done]) %>
  </div>
  <div class="control-group" id="deadline-date-select">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :deadline, :class => 'form-control'%>
    </div>
    <%= error_span(@note[:deadline]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            notes_path, :class => 'btn btn-default' %>

<% end %>
